* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: black;
  background-image: linear-gradient(to top, black 0%, #000000 100%);
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #ffffff;
  text-decoration-color: black;
}

.navbar__links:hover {
  color: #8c9c9c;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: black;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: white;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*Hero Section Home page */
.main{
  background-image: url(images/pexels-01.jpeg);
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items:flex-start;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #f9fcfc;
  background-image:inear-gradient(to top, #d2f0d2fa 0%, #f3f3cc 100%);
  background-size: 100%5;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent
}

.main__content h2 {
  font-size: 2rem;
  background-color: #eef3d6;
  background-image: linear-gradient(to top, #d1e8ee1f 0%, #faf6f5 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.main__btn {
font-size: 1rem;
background-image: linear-gradient(to top, white 0%, grey 100%);
padding: 14px 32px;
border: none;
border-radius: 4px;
color: rgb(0, 0, 0);
margin-top: 2rem;
cursor: pointer;
position: relative;
transition: all 0.35s;
outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.main__btn:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(0, 0, 0);
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: rgb(156, 16, 16);
}

.main__btn:hover:after{
  width: 100%;
}


/* About */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile-image-wrapper {
  width: 100%;
}
.profile-content-wrapper {
  padding: 30px;
}
.profile-content-wrapper h1 {
  color: lightseagreen;
}

/* FOOTER */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0 0 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* Master Styles*/

body {
  font-family: 'Playfair Display', serif;
margin: 0px;
}

.container {
display: grid;
grid-template-columns: 1fr;
}

/*Nav styles*/

.nav-wrapper {
display: flex;
justify-content: space-between;
padding: 38px;
}

.left-side {
display: flex;
}

.nav-wrapper > .left-side > div {
margin-right: 20px;
font-size: 0.9em;
text-transform: uppercase;
}

.nav-link-wrapper {
height: 22px;
border: 1px solid transparent;
transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
color: #8a8a8a;
text-decoration: none;
transition: color 0.5s;
}

.nav-link-wrapper :hover {
border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
color: black;
}

.active-nav-link {
border-bottom: 1px solid black;
}

.active-nav-link a {
color: black !important;
}

/*portofolio styles*/

.portfolio-items-wrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
position: relative;
}

.portfolio-img-background {
height: 350px;
width: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.img-text-wrapper {
position: absolute;
top: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
padding-left: 100px;
padding-right: 100px;
}

.logo-wrapper img {
width: 50%;
margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
transition: 1s;
font-weight: 600;
color: transparent;
}

/* needs to be more specific with selector */

.img-text-wrapper:hover .subtitle {
font-weight: 600;
color: lightseagreen;
color: rgb(255, 255, 255);
}

.img-darken {
transition: 1s;
filter: brightness(10%);
}

/*About*/

.two-column-wrapper {
display: grid;
grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper {
width: 100%;
}

.profile-content-wrapper {
padding: 30px;
}

.profile-content-wrapper h1 {
color: lightseagreen;
}
